#Prueba-fonts-css

/*
# © Copyright  2026
# ==== Autor: Domlen45 ==== #
# ==== Nombre del archivo: fonts ==== #
# ==== Extensión: .css ==== #
# ==== Fecha de creación: 22-08-2026 ==== # 
*/
/*#==================*/
@font-face { 
            font-family: 'Pacifico';
            src: url('Fonts/Pacifico-Regular.woff') format('woff');
            font-weight: normal; /*Si colocas esto predetermina el grosor de la fuente y ya no se puede cambiar despues*/
            font-style: normal; /*Si colocas esto predetermina el estilo de la fuente y ya no se puede cambiar despues*/
            /*font-display: swap;*/
}
