/*#=======================
/*#=== Prueba-fonts.css ==
  #=======================
/*
# © Copyright  2026
# ==== Autor: Domlen45 ==== #
# ==== Nombre del archivo: fonts ==== #
# ==== Extensión: .css ==== #
# ==== Fecha de creación: 22-08-2026 ==== # */
/*#==================*/
@font-face { 
            font-family: 'Pacifico';
            src: url('https://cdn.jsdelivr.net/gh/Domlen45/Prueba-rpt1@main/Fonts/Pacifico-Regular.woff') format('woff'),
                 url('https://cdn.jsdelivr.net/gh/Domlen45/Prueba-rpt1@main/Fonts/Pacifico-Regular.woff2') format('woff2'),
                 url('https://cdn.jsdelivr.net/gh/Domlen45/Prueba-rpt1@main/Fonts/Pacifico-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal; 
            font-display: swap;
}

/*a { 
   font-family: 'Pacifico', 'Snell Roundhand', cursive;
}*/
